# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Django
db.sqlite3
media/
staticfiles/

# ML / Data
data/
models/*.pth
models/*.pt
results/
outputs/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
